@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.strong-text {
  font-weight: bold;
}

:root {
  --nero-black: #1c1b1b;
  --dim-gray: #6a6a6a;
  --green: #20582b;
  --casablanc: #e8b05b;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
