@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.strong-text {
  font-weight: bold;
}

:root {
  --nero-black: #1c1b1b;
  --dim-gray: #6a6a6a;
  --green: #20582b;
  --casablanc: #e8b05b;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.hero-button {
  color: var(--nero-black);
  margin-top: 23px;
  padding: 11px 10px;
  background-color: white;
  text-align: center;
  font-size: 13.5px;
  letter-spacing: 1.5px;
  border: 1.5px solid transparent;
  box-shadow: 0 0 1.5px #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: transparent;
  border: 1.5px solid white;
  color: white;
  font-weight: 500;
}

.button-mw {
  width: 11em;
}
.button-lw {
  width: 15em;
}

.checkout-button {
  color: white;
  margin-top: 13px;
  padding: 11px 10px;
  background-color: var(--nero-black);
  text-align: center;
  font-size: 13.5px;
  letter-spacing: 1.5px;
  border: 1.5px solid transparent;
  box-shadow: 0 0 1.5px #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}

.checkout-button:hover {
  background-color: transparent;
  color: var(--nero-black);
  border: 1.5px solid var(--nero-black);
}
